<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".profile.PartnerProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profile.PartnerProfileEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profile.PartnerTagSelectorActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>
