<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <application>
        <activity
            android:name="com.chat.dating.DatingHomeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.chat.dating.DatingProfileDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.chat.dating.DatingMineActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.chat.dating.DatingEditProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.chat.dating.DatingFavoritesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.chat.dating.DatingWhoLikesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.chat.dating.DatingMatchesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>
</manifest>
